<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShadeBox.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShadeBox.Settings>
            <setting name="SavePositionOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitlesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberVolume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowLatencyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleShadow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmoothMotion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BassBoost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BestQuality" serializeAs="String">
                <value>True</value>
            </setting>
        </ShadeBox.Settings>
    </userSettings>
</configuration>